{% extends "layout-admin.njk" %}

{% block content %}

  <div id="titulo-recipes-admin">
    <h2>Gerenciar receitas</h2>
  </div>

   <main>
        <div class="container">
            <section class="wraper-receitas-admin">

                {% for recipe in recipes %}
                    <div class="receitas-cursor-admin">
                        <img src="{{ recipe.image }}" alt="Imagem de {{ recipe.title }}">
                        <h4>{{ recipe.title }}</h4>
                        <p>{{ recipe.author }}</p>
                        <a href="/admin/recipes">Visualizar</a>
                    </div>
                {% endfor %}

            </section>
        </div>

    </section>
</main>

{% endblock %}