{% extends "./layout.njk" %}
        
        {% block content %}
        <form action="/admin/recipes" method="POST">
            <div class="container-create">
                <h2>Criar Receita
                <button type="submit">Salvar</button>
                </h2>
                {%include "admins/fields.njk"%}
            </div>
        </form>
        <script src="/scriptadd.js"></script>
        {% endblock%}