<div class="container-fields">
  <div class="item">
    <div class="titleinput">Nome da Receita</div>
    <div>
      <input type="text" name="title" value="{{recipe.title}}">
    </div>
  </div>

  <div class="item">
    <div>
      <div class="titleinput">Autor da receita</div>
      <select name="autor">
        {% for chef in chefOptions %}
          <option value="{{chef.id}}" {%if recipe.chef_id == chef.id %} selected {%endif%}>
            {{chef.name}}</option>
        {%endfor %}
      </select>
    </div>
  </div>

  <div class="item">
    <div class="titleinput">Imagem da Receita</div>
    <div>
      <input type="url" name="image" value="{{recipe.image}}">
    </div>
  </div>

  <div id="ingredients">
    <div class="titleinput">Ingredientes</div>
    {% for ingredient in recipe.ingredients %}
      <div class="ingredient">
        <input type="text" name="ingredients[]" value="{{ ingredient }}"/>
      </div>
    {% else %}
      <div class="ingredient">
        <input type="text" name="ingredients[]" value="{{ ingredient }}"/>
      </div>
    {% endfor %}
  </div>
  <p class="add-ingredient">Adicionar Ingrediente</p>

  <div id="preparos">
    <div class="titleinput">Modo de Preparo</div>
    {% for preparations in recipe.preparation %}
      <div class="preparo">
        <input type="text" name="preparation[]" value="{{ preparations }}">
      </div>
    {% else %}
      <div class="preparo">
        <input type="text" name="preparation[]" value="">
      </div>
    {% endfor %}
  </div>
  <p class="add-preparos">Adicionar Modo de Preparo</p>

  <div class="item-adicional">
    <div class="titleinput">Informações Adicionais</div>
    <div>
      <textarea name="information" id="information" value="{{ recipe.information }}" cols="30" rows="10">{{ recipe.information }}</textarea>
    </div>
  </div>
</div>