{% extends "./layout.njk" %}

{% block content %}
  <section>
    <div class="container">
      <div class="recipe_title">
        <h3>Receita:
          {{recipes.title}}</h1>
        <a href="/admin/recipes/{{recipes.id}}/edit" class="button">Editar receita</a>
      </div>

      <div class="recipe-img">
        <img src="{{recipes.image}}" alt="Imagem de {{item.title}}">
      </div>
      <div class="recipe-titles">
        <h2>{{recipes.title}}</h2>
        <p>por
          {{recipes.chef_name}}</p>
      </div>
    </div>
  </section>

  <main>
    <div class="container">
      <section>
        <div id="recipe-ingredientes" class="recipe-estilo">
          <h4 class="inline-block">Ingredientes</h4>
          <ul id="lista0">
            {% for ingredient in recipes.ingredients %}
              <li>{{ingredient}}</li>
            {% endfor %}
          </ul>
        </div>

        <div id="recipe-modopreparo" class="recipe-estilo">
          <h4 class="inline-block">Modo de preparo</h4>
          <ul id="lista1" class="">
            {% for preparation in recipes.preparation %}
              <li>{{preparation}}</li>
            {% endfor %}
          </ul>
        </div>
        <div id="recipe-info" class="recipe-estilo">
          <h4 class="inline-block">Informações adicionais</h4>
          <p id="lista2" style="cursor: inherit;">{{ recipes.information }}</p>
        </div>
      </section>
    </div>
  </main>
  {% endblock%}