{% extends "admin/layout.njk" %}

{% block content %}
    <section class="container form">
    
        <div class="title">
            <h2>Receita: {{recipe.title}}</h1>
            <a href="/recipes/{{recipe.id}}/edit" class="button">Editar receita</a>
        </div>

        <div class="gallery">
            <div class="highlight">
                {% if not files[0] %}
                    <img src="http://placehold.it/940x280?text=RECEITA SEM IMAGEM">
                {% else %}
                    <img
                        src="{{files[0].src}}"
                        alt="{{files[0].name}}"
                        onclick="Lightbox.open()"
                    >
                {% endif %}

                <div class="lightbox-target">
                    <img src="{{files[0].src}}" alt="{{files[0].name}}">
                    <a
                        href="#"
                        class="lightbox-close"
                        onclick="Lightbox.close()"
                    >
                        <i class="material-icons">close</i>
                    </a>
                </div>
            </div>

            <div class="gallery-preview">
                {% for image in files %}
                    <img
                        src="{{image.src}}"
                        alt="{{image.name}}"
                        {% if loop.index0 == 0 %}
                            class="active"
                        {% endif %}
                        onclick="ImageGallery.setImage(event)"
                    >
                {% endfor %}
            </div>
        </div>

        <div class="recipe_details">
            <div class="title_detail">
                <h1>{{recipe.title}}</h1>
                <h3 class="author">por {{chef.name}}</h3>
            </div>
            
            <div class="main_info">

                <div class="item">
                    <div>
                        <h4>Ingredientes</h4>
                    </div>
                    <div>
                        <ul>
                            {% for ingredient in recipe.ingredients %}
                                <li>- {{ ingredient }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="item">
                    <div>
                        <h4>Modo de preparo</h4>
                    </div>
                    <div>
                        <ul>
                            {% for preparation in recipe.preparation %}
                                <li>- {{ preparation }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                
                <div class="item">
                    <div>
                        <h4>Informações adicionais</h4>
                    </div>
                    <div>
                        <p>{{ recipe.information }}</p>
                    </div>
                </div>

            </div>
        </div>

    </section>
{% endblock %}