@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;

    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

:root {
    --primary-color: #6558C3;
}

html, body {
    min-height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;

    display: flex;
    flex-direction: column;
}

.container {
    position: relative;
    width: 90%;
    max-width: 940px;
    margin: 0 auto;
}

/* BUTTONS */

.button {
    background-color: var(--primary-color);
    color: white;

    border-radius: 4px;
    padding: 9px 20px;
    cursor: pointer;
}

.button.delete {
    background-color: #DC4747;
}

.button.save:hover {
    background-color: rgb(19, 9, 95);
}

/* HEADER */

header, footer {
    background-color: #111111;
    color: white;

    width: 100%;
    padding: 25px 0;
}

footer {
    margin-top: auto;
    text-align: center;
}

header div.container {
    display: grid;
    grid-template-columns: 90.6px auto auto;
    align-items: center;
    gap: 50.4px;
}

.logo {
    background: url(assets/logo.png);
    height: 26.9px;
}



/* HEADER SEARCH */
.search input {
    width: 100%;
    padding: 8px;
    border-radius: 2px;
    font-size: 16px;
}

/* PRIMARY MENU */

nav.primary ul {
    display: flex;
    margin-right: 25px;
}

nav.primary li {
    text-transform: uppercase;
    margin-right: 25px;
    color: #999999;
}

nav.primary li a {
    font-size: 15px;
    line-height: 25px;
    color: #999999;
}

nav.primary li a.active {
    font-weight: bold;
    color: white;
}

nav.primary li a:hover {
    font-weight: bold;
    color: white;

    transition: 400ms;
}

/* CHEF FORM */

section.form {
    margin-top: 55px;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header {
    margin-bottom: 30px;
}

.header h1 {
    font-size: 24px;
    line-height: 34px;
    color: #111111;
    font-weight: bold;
}

.header .actions {
    text-align: right;
}

.header .actions button {
    margin-left: 10px;
}

form .item {
    margin-bottom: 30px;
}

form .item > div:nth-child(1) {
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
    margin-bottom: 10px;
}

form .item input[type="text"],
form .item select,
form .item textarea {
    width: 100%;
    padding: 12px 16px;
    
    box-shadow: 2px 2px 2px -4px rgba(63, 63, 63, .9);
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

form .item textarea {
    height: 257px;
    font-family: 'Roboto', sans-serif;
}

#btn_delete {
    position: absolute;

    top: 0;
    right: 130;
}

/* PHOTOS UPLOAD CHEF PROFILE*/

form .item #photos-upload {
    position: relative;

    display: block;
    overflow: hidden;
    width: 139px;
}

form .item #photos-upload p {
    padding: 9px 19px;
    border-radius: 4px;
    box-shadow: 0 2px 2px -6px #333;
    background-color: var(--primary-color);
    color: white;

    width: 100%;
    text-align: center;
    font-size: 16px;
}

form .item #photos-path {
    width: 100%;
}

form .item #photos-input {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;

    cursor: pointer;
}

form .item #photo-profile-preview {
    display: grid;
    grid-template-columns: 1fr;
    width: 200px;
    margin: 8px auto;
}

form .item #photo-profile-preview img {
    width: 200px;
    height: 200px;

    border-radius: 50%;

    object-fit: cover;
}

#photo-profile-preview .photo {
    position: relative;
    width: 200px;
    height: 200px;
}

#photo-profile-preview .photo i {
    position: absolute;
    top: 0;
    left: 0;
    
    background: rgba(255, 255, 255, 0.8);
    color: red;

    width: 100%;
    height: 100%;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 500%;
    cursor: pointer;

    transition: opacity 400ms;

    opacity: 0;
}

#photo-profile-preview .photo i:hover {
    opacity: 1;
}

/* CHEFS DETAIL */

.chef-container {
    margin-bottom: 40px;
}

.chef_detail_header {
    display: grid;
    grid-template-columns: 1fr 120px;
    
    margin-top: 50px;
}

.chef_detail_header h2 {
    font-size: 24px;
}

.chef_profile {
    margin-top: 42px;
    text-align: center;
}

.chef_profile .chef_photo_profile {
    width: 100%;

    margin-bottom: 30px;
}

.chef_profile .chef_details h1 {
    font-size: 36px;

    margin-bottom: 4px;
}

.chef_profile .chef_details p {
    font-size: 20px;
    color: #777777;
}

.chef_recipes h3.recipe_title {
    font-size: 24px;
    margin-bottom: 30px;
}

.chef_profile .chef_photo_profile img {
    width: 200px;
    height: 200px;

    border-radius: 50%;
}

.chef_recipes .chef_recipes_created {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.chef_recipe {
    display: grid;
    grid-template-columns: 172px 1fr;
    grid-gap: 20px;
}

.chef_recipe .recipe_img {
    width: 172px;
    height: 100%;
}

.chef_recipe .recipe_img img {
    width: 172px;
    height: 80px;

    border-radius: 8.57px;
}

.chef_recipe .recipe_info h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.chef_recipe .recipe_info p {
    font-size: 14px;
    color: #777777;
    margin-bottom: 10px;
}

.chef_recipe .recipe_info a {
    font-family: 'Roboto-bold', sans-serif;
    font-size: 14px;
    color: var(--primary-color);
}

/* CHEFS LIST */

.chef_list_container .chefs_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;

    margin-top: 30px;
}

.chef_list_container .chefs_list .chef_card {
    display: grid;
    grid-template-columns: 64px 1fr;
    
    grid-gap: 20px;
}

.chef_card .chef_photo img {
    width: 64px;
    height: 64px;

    border-radius: 50%;

    object-fit: cover;
}

.chef_card .chef_card_info p {
    font-size: 18px;
    margin: 10px auto;
}

.chef_card .chef_card_info a {
    font-family: 'Roboto-bold', sans-serif;
    font-size: 14px;
    color: var(--primary-color)
}

/* INICIO RECIPE (CREATE, VIEW E EDIT */

form .item .photos-container {
    display: flex;
        
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    margin-top: 15px;
}

/* RECIPES CREATE FORM */

form .item #photos-upload-recipe {
    position: relative;

    display: block;
    overflow: hidden;

    width: 175px;
    height: 145px;
    border: 1px solid #DDDDDD;
    border-radius: 3.5px;

}

form .item #photos-upload-recipe:hover {
    background: lightgray;
}

form .item #photos-upload-recipe i {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 1%;
    height: 1%;

    color: #777777;
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 300%;

    transition: 400ms;

    cursor: pointer;
}

form .item #photos-upload-recipe i:hover {
    display: none;
}

form .item #photos-input-recipe {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    overflow: hidden;

    width: 100%;
    height: 100%;

    opacity: 0;

    cursor: pointer;
}

select:invalid {
    color: #999999;
}

form .item #ingredients .ingredient,
form .item #preparations .preparation {
    margin-bottom: 10px;
}

form .item .link-action {
    margin-top: 15px;
    font-weight: bold;
}

form .item .link-action .add-ingredient,
form .item .link-action .add-preparation {
    color: var(--primary-color);
    font-size: 16px;
}

form .item #photos-recipe-preview {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;

    width: 100%;
    
}

form .item #photos-recipe-preview .photo {
    position: relative;
    width: 145px;
    height: 145px;
    
}

form .item #photos-recipe-preview .photo img {
    width: 145px;
    height: 145px;
    object-fit: cover;
    border-radius: 3.5px;
}

form .item #photos-recipe-preview .photo i {
    position: absolute;
    top: 0;
    left: 0;

    background: rgba(255, 255, 255, 0.8);
    color: red;

    width: 145px;
    height: 100%;
    border-radius: 3.5px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 400%;
    cursor: pointer;

    transition: 400ms;
    opacity: 0;
}

form .item #photos-recipe-preview .photo:hover i {
    opacity: 1;
}

/* RECIPE LIST */

.recipe_list h1 {
    margin-top: 50px;

    margin-bottom: 30px;
}

.recipe_list .recipes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.recipe_list .recipes .recipe {
    display: grid;
    grid-template-columns: 172px 1fr;
    grid-gap: 20px;
}

.recipe_list .recipes .recipe_image img{
    width: 172px;
    height: 80px;

    border-radius: 8.57px;
}

.recipe .recipe_detail h3 {
    font-size: 18px;
    font-family: 'Roboto-regular', sans-serif;

    margin-bottom: 5px;
}

.recipe .recipe_detail p {
    font-size: 14px;
    color: #777777;
    font-family: 'Roboto-regular', sans-serif;

    margin-bottom: 10px;
}

.recipe .recipe_detail a {
    font-size: 14px;
    color: #6558C3;
    font-family: 'Roboto-bold', sans-serif;
}

/* SEARCH PAGE */
.search-recipes {
    display: grid;
    grid-template-columns: 200px 1fr;

    margin-top: 50px;
}

.search-recipes .header-search {
    margin-bottom: 48px;

    font-size: 14px;
    color: #333;
}

.search-recipes .header-search h2 {
    font-size: 26px;
    text-transform: capitalize;

    margin-bottom: 8px;
}

/* RECIPE DETAIL */

.form .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form .gallery {
    width: 100%;
}

.form .gallery .highlight img {
    width: 100%;
    height: 280px;
    
    border-radius: 15px;
    
    object-fit: fill;
    object-position: 50% 50%;

    cursor: zoom-in;
}

/* LIGHTBOX RECIPE GALLERY */
.form .gallery .highlight .lightbox-target {
    position: fixed;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, .7);

    overflow: hidden;

    z-index: 100;

    top: -100%;
    left: 0;
    opacity: 0;

    transition: opacity 400ms;
}

.form .gallery .highlight .lightbox-target img {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: white;
    box-shadow: 0px 0px 8px rgba(0,0,0,.3);

    width: 90%;
    height: 90%;

    object-fit: contain;
}

.form .gallery .highlight a.lightbox-close {
    width: 50px;
    height: 50px;

    background: white;

    position: absolute;
    
    top: -80;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 400ms;
}

/* GALLERY PREVIEW */
.form .gallery .gallery-preview {
    display: flex;
    grid-template-columns: repeat(5, 50px);
    justify-content: flex-end;

    margin-top: 8px;
    margin-bottom: 8px;
}

.form .gallery .gallery-preview img{
    width: 50px;
    height: 49.7px;
    border-radius: 3.5px;
    
    object-fit: cover;
    
    margin-left: 10px;

    cursor: pointer;
    
    opacity: 0.6;
    transition: 400ms;
}

.form .gallery .gallery-preview img:hover,
.form .gallery .gallery-preview img.active {
    opacity: 1;
}

.recipe_details .title_detail {
    text-align: center;
    margin-bottom: 31px;
}

.recipe_details .title_detail h1 {
	font-size: 36px;
    color: #111111;
    margin-bottom: 4px;
}

.recipe_details .title_detail h3 {
    font-size: 20px;
    color: #777777;
}

.recipe_details .main_info .item {
    margin-bottom: 41px;
}

.recipe_details .main_info .item > div:nth-child(1) {
    font-size: 24px;
    color: #111111;

    margin-bottom: 19px;
}

.recipe_details .main_info .item > div:nth-child(2) {
    font-size: 18px;
    color: #444444;    
}

.recipe_details .main_info .item > div:nth-child(2) ul li {
    list-style: none;
    margin-bottom: 6px;
}

/* RECIPE EDIT */

.form_delete {
    position: absolute;
    top: 0;
    right: 140px;
}