@import "https://fonts.googleapis.com/css?family=Open+Sans&display=swap";
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #f8f8f8;
    color: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

header .container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

header img {
    margin: 35px 0;
}

.container a:hover {
    color: #1658af;
    transition-duration: 10ms;
}

.menu {
    font-size: 16px;
    line-height: 26px;
    margin: 40px 0;
}

.menu a {
    padding-left: 30px;
    text-decoration: none;
    color: #111;
}

.banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #1658af;
    border-radius: 30px;
}

.banner-info {
    margin-left: 100px;
}

.banner-info h2 {
    margin-top: 115px;
    margin-bottom: 10px;
    font-size: 32px;
    color: white;
    font-weight: bold;
}

.banner-info p {
    width: 318px;
    font-size: 18px;
    line-height: 28px;
    color: white;
}

.banner-img {
    text-align: center;
    padding-top: 65px;
}

main .container {
    margin-top: 50px;
}

.container h3 {
    font-size: 24px;
    color: #111;
}

.wraper-receitas {
    padding-top: 40px;
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.receitas {
    margin-right: 50px;
    margin-bottom: 30px;
}

.receitas img {
    width: 300px;
    height: 140px;
    border-radius: 15px;
}

.receitas h4 {
    margin-top: 20px;
    font-size: 18px;
    line-height: 21px;
    color: #111;
    font-weight: normal;
}

.receitas p {
    margin-top: 5px;
    color: black;
    font-size: 14px;
}

footer {
    background-color: #EEE;
}

footer p {
    /* display: flex;
    flex: 1; */
    padding: 25px 0;
    text-align: center;
    font-size: 14px;
    color: #999;
}

.sobre h3 {
    font-size: 24px;
    color: #111111;
    font-weight: bold;
    margin-bottom: 20px;
}

.sobre p {
    font-size: 18px;
    color: #e42222;
    line-height: 28px;
    margin-bottom: 50px;
}

.sobre h4 {
    font-size: 20px;
    color: #111111;
    margin: -20px 0 20px 0;
}

.cursor {
    cursor: pointer;
    
}

.recipe-img img {
    width: 650px;
    height: 280px;
    margin-left: 180px;
    border-radius: 15px;
}

.recipe-titles {
    text-align: center;
}

.recipe-titles h2 {
    margin-top: 50px;
    color: #111;
    font-size: 36px;
    font-weight: bold;
}

.recipe-titles h4 {
    margin-top: 5px;
    font-size: 20px;
    color: #1658af;
}

#recipe-ingredientes {
    margin-top: 50px;
}

#recipe-modopreparo {
    margin-top: 40px;
}

#recipe-info {
    margin: 50px 0;
}

.recipe-estilo p {
    margin-top: 20px;
    font-size: 18px;
    color: #444;
    line-height: 28px;
}

.recipe-estilo h4 {
    font-size: 24px;
    color: #111;
}

.recipe-estilo ul {
    margin-top: 20px;
}

.recipe-estilo ul li {
    font-size: 18px;
    color: #444;
    line-height: 28px;
}

.recipe-estilo a {
    list-style-type: none;
    text-decoration: none;
    padding-left: 10px;
    font-size: 12px;
    color: #999999;
    font-weight: bold;
    text-transform: uppercase;
}

.inline-block {
    display: inline-block;
}

.esconder {
    display: none;
}

.menu i {
    float: right;
}

.menu i:hover {
    border: 1px solid #FAF0E6;
}

.cardsAdmchefs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 150px;
    margin-top: 108px
}

.card-info h5 {
    font-size: 18px;
    width: 150px;
}

.cardsAdmchefs a {
    color: #1658af;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

.image-containerchefs {
    display: flex;
    align-items: center;
}

.image-containerchefs img {
    width: 64px;
    height: 64px;
    border-radius: 50px;
    float: right;
}

.card-info {
    width: 50px;
}

.orgchefs {
    display: grid;
    grid-template-columns: 64px 1fr;
    gap: 15px;
    margin-bottom: 30px;
}

h5 {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 5px;
    color: black;
}

.card-info p {
    font-size: 14px;
    color: #666666;
    width: 200px;
}

.search {
    display: flex;
    float: right;
}

.search input {
    width: 246px;
    height: 37px;
    border-radius: 15px;
    border: 1px solid #1658af;
    margin-right: 15px;
}

.search button {
    cursor: pointer;
    background: none;
}

.container {
    color: black;
}

.pagination {
    color: black;
    text-align: center;
}

.pagination a {
    text-decoration: none;
    color: #1658af;
    margin-right: 25px;
    font-size: 30px;
}

.pagination a:hover {
    font-weight: bold;
    border: 1px solid #FAF0E6;
}