{% extends "admin/layout.njk" %}

{% block content %}

    <div class="container">

        <div class="chef_list_container">

            <div class="chef_detail_header">
                <h2>Gerenciar chefes</h2>
            </div>

            <div class="chefs_list">

                {% for chef in chefs %}
                
                    <div class="chef_card">
                        <div class="chef_photo">
                            <img src="{{chef.src}}" alt="{{chef.name}}">
                        </div>
                        <div class="chef_card_info">
                            <p>{{ chef.name}}</p>
                            <a href="/chefs/{{chef.id}}">Visualizar</a>
                        </div>
                    </div>

                {% endfor %}

            </div>

        </div>

    </div>

{% endblock %}