<head>
    {% block head %}
        <title>Foodfy Admin</title>
    {% endblock %}

    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesadmin.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Foodfy Admin
    </title>
</head>

<header>
    <div class="i">
        <a href="/">
        <i title="Ir para HomePage" class="material-icons">home</i>
        </a>
        </div>
    
    <div class="container">
        <a href="/admin/recipes">
            <img src="/logowhite.png" alt="Logo">
        </a>
        <div class="links" >
               <a href="/admin/recipes">Receitas</a>
                <a href="/admin/chefs">Chefs</a>
            </div>
        
    </div>
    

</header>
<script src="/scripts.js"></script>
{% block content %}

    {% endblock%}